# Ignore folders starting with 'input-folder' and 'output-folder' at any level
input-folder*/
output-folder*/

# Ignore all .csv, .gpkg, and .pbf files
*.csv
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.pbf
*.geojson

# Ignore any file starting with 'test' (but allow the tests/ directory)
test*
!tests/
!tests/**

# Ignore .DS_Store files
.DS_Store

# Ignore log files
*.log

# Ignore pycache files
__pycache__